img{
    background-size: contain;
    height: 600px;
    
}
.navbar-brand{
    text-align: center;
}
h5{
    color: whitesmoke;
    font-weight: bolder;
    font-size: xx-large;
}
p{
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
}

footer{
   position : fixed;
   bottom: 0;
   width: 100%;
   
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
